.longbox{
    height: 25vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: flex;
    
}

.flexbox{
    height: 20vh;
    width: 80vw;
    background-color: blueviolet;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.smallbox{
    background-color: grey;
    height: 40px;
    width: 60px;
}

.bigbox{
    background-color: orangered;
    position: relative;
    height: 400px;
    width: 300px;
    margin-top: 40px;
    margin-left: 40px;

}

.smallbox1{
    background-color: palevioletred;
    height: 60px;
    width: 60px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.smallbox2{
    background-color: black;
    height: 60px;
    width: 60px;
    position: relative;
    top: -20px;
    left: -20px;
}